$charcoal: #36454f;
body{
    box-sizing: border-box;
	padding-top: 80px;
	padding: 80px 50px 0 50px;
	min-width: 768px;
	color: $charcoal;

	*, *:before, *:after {
	  box-sizing: inherit;
	}
}

.left-column{
	float: left;
	padding-right: 60px;
	position: relative;

	.old-town-logo{
		margin-left: 50px;
		background: url("/assets/pics/OTC_logo.png") no-repeat center;
		background-size: 100%;
	}

	.left-column-nav{
		margin-top: 35px;

		.nav-item{
			font-family: OpenSans-CondensedLight;
			cursor: pointer;
			padding-left: 50px;
			font-size: 20px;
			height: 50px;
			line-height: 50px;

			&:hover{
				color: #F9C489;
			}

			&.active{
				background: url("/assets/pics/nav_triangle.png") no-repeat left;				
			}
		}
	}

	.gradient-divider{
		position: absolute;
		width: 1px;
		height: 300px;
		right: 0px;
		top: 0px;
		background: linear-gradient(grey, white);
	}
}

.right-column{
	float: left;
	padding-left: 50px;
	margin-bottom: 15px;
	position: relative;

	.slider-container{
		width: 100% !important;
		height: auto !important;

		.content-tile{
			float: left;
			position: relative;

			.content-title{
				margin-bottom: 15px;
				font-family: OpenSans-CondensedLight;
				font-size: 37px;

				span{
					font-family: OpenSans-CondensedBold;
				}		
			}

			.content-subtitle{
				margin-bottom: 25px;
				font-family: OpenSans-CondensedBold;
				font-size: 25px;
				color: #F29727;
			}

			.content-image{
				width: 100%;
				margin-bottom: 15px;
			}

			.content-copy{
				padding-bottom: 50px;
				height: 250px;
				overflow-y: scroll;

				&::-webkit-scrollbar {
				 display: none;
				}

				p{
					font-family: OpenSans-Light;
					font-size: 21px;
					line-height: 32px;
					word-spacing: 3px;
					margin-bottom: 20px;
				}
			}

			.text-fade{
				height: 50px;
				width: 100%;
				position: absolute;
				bottom: 0px;
				background: linear-gradient(rgba(255, 255, 255, 0), white);
			}

			.contact-form{
				padding-top: 15px;
				border-top: 5px solid #F29727;
				width: 100%;
				font-family: OpenSans-Light;
				color: $charcoal;

				.contact-info{
					width: 100%;
					margin-bottom: 25px;
					overflow: hidden;
					font-size: 14px;

					.address, .other{
						width: 50%;
						float: left;

						p{
							line-height: 21px;
						}
					}
				}

				form{
					margin: 0 auto; 
					width: 60%;
					font-family: OpenSans-Light;
				}

				input, textarea{
					width: 100%;
					font-size: 15px;
					padding: 5px 10px;
					margin-bottom: 15px;
				}

				textarea{
					height: 200px;
				}

				button{
					float: right;
					font-size: 15px;
					cursor: pointer;
					font-family: OpenSans-Light;
				}

				.sent-message{
					line-height: 20px;
					text-align: center;
					width: 75%;
					margin: 0 auto;
				}

			}
		}


		
		.dots{
			position: absolute;
			bottom: -30px;
			color: transparent;

			.dot{
				margin-right: 10px;
				display: inline-block;
				height: 10px;
				width: 10px;
				border-radius: 5px;
				border: 1px solid #F29727;
				cursor: pointer;

				&.active{
					background: #F29727;
				}
			}
		}
	}
}

.bottom-info{
	font-family: OpenSans-Light;
	font-size: 13px;
	border-top: 2px solid #F29727;
	margin-top: 50px;
	padding: 20px 50px;
	display: inline-block;
	width: 100%;

	.bottom-info-text{
		text-align: center;
		height: 20px;
		line-height: 20px;
	}
}

@media (max-width: 1024px) {
	.left-column{
		width: 260px;

		.old-town-logo{
			height: 105px;
			width: 120px;
		}
	}
	.right-column{
		width: calc(100% - 260px)
	}
}

@media (min-width: 1025px) {
	.left-column{
		width: 310px;

		.old-town-logo{
			height: 140px;
			width: 160px;
		}
	}
	.right-column{
		width: calc(100% - 310px);
		max-width: 755px;
	}
}

@font-face
{
  font-family: OpenSans-Light;
  src: url('/assets/fonts/OpenSans-Light.ttf');
}

@font-face
{
  font-family: OpenSans-CondensedLight;
  src: url('/assets/fonts/OpenSans-CondLight.ttf');
}

@font-face
{
  font-family: OpenSans-CondensedBold;
  src: url('/assets/fonts/OpenSans-CondBold.ttf');
}